*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  body{
    background: linear-gradient(to bottom right,
     rgba(0, 108, 250,0.6), 
     rgba(0, 218, 112,0.8));
  }
  
  /* HEADER */
  .header{
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 8px 16px 0px;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
    
  }
  #root {
      display: flex;
      height: calc(100vh - 100px);
      width: 100vw;
      justify-content: center;
      align-items: center;
  }
   
   .logo{
    margin-left: 20px;
   }
  
  .task{
    min-height: 250px;
    width: 400px;
    background-color: #fff;
    border-radius: 5px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3));
    padding: 20px 20px;
    margin-bottom: 100px;
  }
  #template {
      display: none;
  }
  #add {
      text-align: center;
      background-color: #FFDA00;
      color: #000;
      width: 70px;
      border: 0;
      margin-top: 15px;
      border-radius: 5px;
      padding: 5px 10px;
      font-weight: 600;
      margin-bottom: 10px;
      cursor: pointer;
  } 

  #text {
      display: none;
      width: 70px;
      margin: 0 auto;
      margin-left: 5px;
  }
  #inputTitolo {
      width: 250px;
      border-radius: 5px;
      border: 2px solid #458EF4;
      margin-top: 20px;
      padding: 8px 10px;
  }
  #text {
    border-radius: 5px;
    border: 2px solid #458EF4;
    margin-bottom: 10px;
    padding: 5px 10px;
  }
  li {
      text-transform: uppercase;
      margin-top: 10px;
      font-size: 16px;
  }
  
  .fa-check-square {
      margin-left: 10px;
      color: #00c853;
      cursor: pointer;
  }
  .fa-edit {
    margin-left: 10px;
    color: orange;
    cursor: pointer;
  }
  .fa-minus-square {
      color: #d32f2f;
      margin-left: 10px;
      cursor: pointer;
  }
  li {
      list-style: none;
  }

  .titolo.strike {
      text-decoration: line-through;
  }